h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 5.0rem;
    margin: 100px 0;
    color: #c7e987;
    letter-spacing: 2px;
    position: relative;

}

h1::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background: #c7e987;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.0rem;
}

.about {
    max-width: calc(100% - 15.625%);
    margin: 0 auto;
}

.about h2 {
    margin-bottom: 50px;
}

.info p {
    font-weight: 700;
}

.info span {
    float: right;
    font-weight: 400;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.info {
    width: 500px;
}

.edu {
    margin-left: 100px;
}

.eduIcon {
    position: relative;
    z-index: -1;
}

.eduIcons {
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 0;
    width: 40px;
    height: 40px;
    background: #c7e987;
    border-radius: 50%;
    font-size: 2.0rem;
    padding: 5px 10px;
}

.eduTxt {

    border-left: 1px solid #ddd;
    padding: 0 50px;
    margin-left: 25px;

}

.date {
    background: #999;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.3rem;
}

.college {
    font-weight: 600;
}

.college span {
    color: rgba(255, 255, 255, 0.5);
}

.skill {
    padding-bottom: 150px;
}

.skill h2 {
    text-align: center;
}

.ico {
    display: flex;
}

.box {
    padding: 10px 0;
    width: 100%;
}

.box>div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    border: 1px solid #ddd;
    margin: 0 10px;
    border-radius: 10px;
}

.box p {
    text-align: center;
}

.box img {
    width: 50px;
}

@media(max-width: 1200px) {
    .box img {
        width: 40px;
    }
}

@media(max-width: 1000px) {





    .skill {
        flex-direction: column;
    }

    .info span {
        float: none;
        display: block;
    }



    .box>div {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .ico {
        flex-wrap: wrap;
    }

    .box img {
        width: 60px;
    }

    .box {
        margin: 10px 0;
    }
}

@media(max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .edu {
        margin-left: 0;
        margin-top: 100px;
    }

    .skill h2 {
        text-align: left;
    }

    .info span {
        float: right;
        display: inline;
    }
}

@media(max-width: 500px) {
    .info {
        width: 400px;
    }
}

@media(max-width: 460px) {
    .info span {
        float: none;
        display: block;
    }
}