@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about {
    max-width: calc(100% - 100px);
    margin: 100px auto;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {

    display: flex;
    flex-direction: column;
}

.info_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profileimg {
    animation: 2s ease fadeUp;
    ;
}

.info_bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.about h2 {
    color: #E5B6B3;
    margin-bottom: 30px;
}

.profileimg img {
    display: block;
    border-radius: 10px;
}

.profiletxt {
    padding-left: 150px;
}

.provide h2 {
    padding-top: 30px;
}

.provide div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.provide div dl {
    width: 200px;
    text-align: center;

    padding: 10px;
    border-radius: 10px;
}

.provide div dl:first-of-type {
    margin-right: 20px;
}

.provide div dt {
    font-size: 4.5rem;
    padding-bottom: 20px;
}

.edu_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.major {
    font-size: 2.0rem;
    color: #fff;
    font-weight: 600;
}

.edu_flex:nth-of-type(1) {
    margin-bottom: 30px;
}

.degree {
    font-size: 4.0rem;
    margin-right: 30px;
}

.school {
    color: rgba(255, 255, 255, 0.8);
}



.box p {
    display: inline-block;
    background: #eee;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 10px 20px 20px 0;
}

.box img {
    width: 40px;
    display: inline-block;
}

@media(max-width:1200px) {
    .profiletxt {
        padding-left: 100px;
    }
}

@media(max-width: 1000px) {
    .about {
        max-width: calc(100% - 20px);
    }

    .profiletxt {
        padding-left: 30px;
    }
}

@media(max-width:830px) {
    .info_top {
        flex-direction: column;
        align-items: center;
    }

    .info_bottom {
        flex-direction: column;
    }

    .profiletxt {
        padding-left: 0;
    }

    .about h2 {
        text-align: center;
    }

    .bio h2 {
        padding-top: 30px;
    }

    .bio p {
        text-align: center;
    }

    .edu {
        width: 100%;
    }

    .edu_flex {
        justify-content: center;
    }

    .info_bottom {
        margin-top: 30px;
    }

    .skill {
        width: 100%;
    }

    .skill h2 {
        padding-top: 30px;
    }

    .box p {
        margin: 10px 10px 10px 10px;
    }
}

@media(max-width: 500px) {
    .box p br {
        display: none;
    }
}