h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.0rem;
    font-weight: 600;
}

.skill h2 {
    margin-top: 50px;
}

.about {
    max-width: calc(100% - 33.33%);
    margin: 100px auto;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.info_left {
    width: calc(100% / 2);
}

.info_left h1 img {
    display: block;
    border-radius: 10px;
    width: 450px;
    height: 600px;

}

.info_left h2 {
    color: #E5B6B3;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info_left p {
    width: 450px;
}

.info_left p img {
    width: 30px;
}

.info_left p br {
    display: none;
}

.h2icon {
    padding-left: 15px;
}

.info_right {
    width: calc((100% - 100px) / 2);
    margin-left: 100px;
}

.info_right h2 {
    color: #E5B6B3;
    padding-bottom: 50px;

}

.major {
    font-size: 2.0rem;
    color: #fff;
    font-weight: 600;

}

.edu_flex:nth-of-type(1) {
    margin-bottom: 30px;
}

.edu_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.degree {
    font-size: 4.0rem;
    margin-right: 30px;
}

.school {
    color: rgba(255, 255, 255, 0.8);
}

.box p {
    display: inline-block;
    background: #eee;
    border-radius: 15px;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px 20px 10px 0;
}

.box img {
    width: 50px;
    display: inline-block;

}

.skill {
    padding-top: 50px;
}

@media(max-width: 1400px) {
    .about {
        max-width: calc(100% - 20%);
    }
}

@media(max-width: 1200px) {
    .box p {
        width: 60px;
        height: 60px;
    }

    .box img {
        width: 40px;
    }
}

@media(max-width: 1050px) {
    .box p {
        width: 50px;
        height: 50px;
    }

    .box img {
        width: 30px;
    }
}

@media(max-width: 1000px) {
    .about {
        max-width: calc(100% - 100px);
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    .info_left {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info_left h2 {
        padding: 30px 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    .info_left h2 img {
        margin: 0 auto;
        text-align: center;
    }

    .info_right {
        flex-direction: column;

        width: 100%;
        margin-left: 0;
    }

    .info_right h2 {
        padding: 30px 0;
        text-align: center;
    }

    .info_left p br {
        display: block;
    }

    .box p {
        width: 70px;
        height: 70px;

    }

    .box img {
        width: 50px;
    }

    .skill {
        padding-top: 0;
        text-align: center;
    }

    .edu_flex {
        justify-content: center;
    }
}

@media(max-width: 786px) {
    .about {
        max-width: calc(100% - 33.333%);
    }
}

@media(max-width: 560px) {
    .about {
        max-width: calc(100% - 50px);
        margin: 30px auto 100px;
    }



    .edu h2 {
        padding-top: 60px;
    }
}