@keyframes faderight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.contact {
    max-width: calc(100% - 100px);
    margin: 0 auto;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.touch {
    animation: 2s ease faderight;
    ;
    padding-right: 100px;
}

.touch h2 {
    color: #E5B6B3;
}

.touch p {
    font-size: 2.0rem;
}

.touch p.txt {
    padding: 30px 0;
}

.touch p.txt_kr {
    padding: 30px 0;
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.touch_icon {
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.8);
}

.touch_arc {
    padding-right: 10px;
    border-right: 3px solid rgba(255, 255, 255, 0.6);
    margin-right: 10px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.info p {
    line-height: 1;
    font-size: 1.6rem;
}

.info span {
    cursor: pointer;
    transition: all 0.2s;
}

.info span:hover {
    color: #E5B6B3;
}

.bg {
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 7px 0;
    margin-right: 30px;
}

p.small {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
}

.formBox {
    padding-left: 150px;
    width: 550px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    padding-left: 15px;
    color: #fff;
    margin: 5px 0;
}

.form textarea {
    outline: none;
    width: 100%;
}

input::placeholder {
    color: #fff;
}

input:focus {
    color: #fff;
    border: 1px solid #E5B6B3;
}

textarea::placeholder {
    color: #fff;
}

.form {
    width: 100%;
}

.form .message:focus {
    border: 1px solid #E5B6B3;
}

.form .message {
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 200px;
    padding: 10px 13px;
    background: transparent;
    color: #fff;
    margin: 5px 0;
}

.form .sendbtn {
    color: #fff;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 0.5s;
}

.form .sendbtn:hover {
    background: #E5B6B3;
}

@media(max-width: 1200px) {
    .touch {
        padding-right: 0;
    }

    .formBox {
        padding-left: 50px;
        width: 500px;
    }
}

@media(max-width: 1000px) {
    .contact {
        max-width: calc(100% - 20px);
        margin: 100px auto;
    }

    .info:last-of-type {
        padding-bottom: 50px;
    }
}

@media(max-width: 850px) {
    .formBox {
        width: 400px;
    }
}

@media(max-width: 768px) {
    .flex {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: static;
        top: 0;
        transform: translateY(0);
    }

    .formBox {
        padding-left: 0;
        width: 100%;
    }
}