.contact {
    max-width: calc(100% - 33.33%);
    margin: 0 auto;

}

.body {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 300px;
}

.touch {
    width: 520px;
}


.touch h2 {
    word-break: keep-all;
    color: #8ADBBE;
}

.touch p {
    font-size: 2.0rem;
}

.touch_icon {
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 0.8);
}

.touch p span.touch_icon_bg {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: transparent;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 3px 0;
}

.touch p span.touch_txt {
    float: right;
}

.touch_arc {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.touch_arc:nth-of-type(2) {
    margin-left: 20px;
}

.formBox {
    margin-left: 100px;
}

.form input {
    background: #2B2F35;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 15px;
    color: #fff;
}

.form textarea {
    outline: none;
    width: 100%;
}

input::placeholder {
    color: #fff;
}

input:focus {
    color: #fff;
}

textarea::placeholder {
    color: #fff;
}

textarea:focus {
    color: #000;
}

.form .name,
.form .email {
    width: calc((100% - 20px) / 2);

}

.form .name {
    margin-right: 20px;
}

.form .subject {
    margin: 20px 0;
}

.form .message {
    border: 0;
    border-radius: 10px;
    height: 150px;
    padding: 5px 10px;
    background: #C1D9C4;
}

.form .sendbtn {
    margin-top: 20px;
    color: #fff;
    width: 100%;
    padding: 5px;
    background: #2B2F35;
    border: 0;
    border-radius: 10px;
    height: 40px;
}



@media(max-width: 1450px) {


    .flex {
        padding: 0 150px;
    }
}

@media(max-width: 1200px) {
    .flex {
        padding: 0 100px;
    }

    .touch h2 p br {
        display: none;
    }
}


@media(max-width: 1000px) {
    .flex {
        flex-direction: column;
    }

    .formBox {
        margin-left: 0;
        margin-top: 50px;
    }

    .body {
        position: static;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }

    .flex {
        padding: 0;

    }

    .contact {
        margin: 100px auto;
    }

    .touch {
        width: 100%;
    }

}

@media(max-width: 500px) {
    .contact {
        max-width: calc(100% - 50px);
        margin: 50px auto 100px;
    }
}