.body {
    max-width: calc(100% - 33.33%);
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.intro {
    font-family: 'Poppins', sans-serif;
    padding-left: 150px;
}

.intro dt {
    font-size: 5.0rem;
    color: #FF9E74;
    line-height: 1.3;
}

.intro dd {
    font-size: 2.0rem;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0 50px;
}

@media(max-width: 1500px) {
    .body {
        max-width: calc(100% - 10.416%);
    }
}

@media(max-width: 1400px) {
    .intro {
        padding-left: 100px;
    }

    .intro dt {
        font-size: 4.0rem;

    }
}


@media(max-width: 1200px) {
    .img img {
        width: 380px;
    }


}

@media(max-width: 1100px) {
    .intro dt {
        font-size: 3.5rem;

    }
}

@media(max-width: 1000px) {
    .body {
        max-width: calc(100% - 50px);
    }


}

@media(max-width: 900px) {
    .body {
        max-width: calc(100% - 20px);
        margin: 50px auto;
    }

    .flex {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        position: static;
        top: 0;
        transform: translateY(0);
    }

    .intro {
        padding-left: 0;
    }

    .intro dt:first-of-type {
        padding-top: 30px;
    }

}


@media(max-width: 500px) {
    .intro dt:nth-of-type(2) {
        font-size: 3.0rem;
    }

    .intro dd:nth-of-type(1) {
        font-size: 1.6rem;
    }
}