.portfolio {
    max-width: calc(100% - 100px);
    margin: 100px auto;
}

.portfolio h2 {
    color: #E5B6B3;
    margin-bottom: 50px;
    text-align: center;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.portfolio li {
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.portfolio li:hover .abs {
    opacity: 1;
}

.mainImg {
    border-radius: 10px;

}

.abs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s;
}

.mb {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.list {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.list span {
    font-size: 2.3rem;
}

.list img {
    width: 40px;
}

.list p {
    font-size: 2.3rem;
}

.list p span {
    display: inline-block;
    border: 1px solid #fff;
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 2.0rem;
    transition: all 0.3s;
}

.list p span:hover {
    background: #fff;
    color: #000;
}

.list div {
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 2.0rem;
    transition: all 0.3s;
}

.list div:hover {
    background: #fff;
    color: #000;
}

.link {
    padding-right: 10px;
}

.link_cafe {
    background: #fff;
    display: inline-block;
    padding: 5px 3px;
    border-radius: 5px;
    margin-right: 10px;
}

@media(max-width: 1000px) {
    .portfolio {
        max-width: calc(100% - 20px);
        margin: 50px auto;
    }
}

@media(max-width: 500px) {
    .mb {
        display: block;
    }

    .abs {
        display: none;
    }
}

@media(max-width: 600px) {

    .mainImg {
        width: 100%;
    }
}