html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

address,
caption,
em {
    font-weight: normal;
    font-style: normal;
}

fieldset,
img,
input {
    border: 0 none;
    outline: none;
}

input,
select,
textarea {
    vertical-align: middle;
}

body {
    background-color: #111;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    overflow-x: hidden;
}

.gnb {
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);

}

.gnb li {
    background: url('');
    text-align: center;
    padding: 13px 0;
    width: 50px;
    height: 50px;
    background: #464646;
    border-radius: 50%;
    margin: 30px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}




li.btn_color {
    background: linear-gradient(0deg, rgba(91, 189, 154, 1) 0%, rgba(199, 233, 135, 1) 100%);
}

@media(max-width: 1000px) {
    .gnb {
        left: 0;
        bottom: 0;
        transform: translateY(0);
        display: flex;
        justify-content: space-evenly;
        background: #2B292A;
        position: fixed;
        width: 100%;
        margin: 0;
    }

    .gnb li {
        margin: 10px 0;
    }


}