html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

address,
caption,
em {
    font-weight: normal;
    font-style: normal;
}

fieldset,
img,
input {
    border: 0 none;
    outline: none;
}

input,
select,
textarea {
    vertical-align: middle;
}

body {
    background: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.6rem;
}

.gnb {
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);

}

.gnb li {
    padding: 15px 0;
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
    margin: 30px 0;
    font-size: 0;
    text-indent: -70px;
    cursor: pointer;
    transition: background 0.5s;
    font-family: 'Poppins', sans-serif;
}

.gnb li:hover {
    font-size: 1.5rem;
}

@media(max-width: 1000px) {
    .gnb {
        left: 0;
        bottom: 0;
        transform: translateY(0);
        display: flex;
        justify-content: space-evenly;
        background: #666;
        position: fixed;
        width: 100%;
        margin: 0;
    }

    .gnb li {
        margin: 10px 0;
    }

    .gnb li:hover {
        font-size: 0;
        background: skyblue;
    }

}